# .env Files
.env

# virtualenv
security-system

# Folders
images/*
!images/.gitkeep 
faces/*
!faces/.gitkeep 
.vscode/*
__pycache__/*

node_modules/
static/css/app.min.css
package-lock.json

file.txt
